<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bingus lovers homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>

<body>
    <div class="center">
        <div>
            <h1>Welcome to bingus.ir</h1>
            <a href="{{url_for('static',filename='VandadDelavari.pdf')}}" target="_blank">Resume</a><br>
            <a href="/bingus">Bingus animation</a><br>
            <a href="/courses">My university courses</a><br>
        </div>
    </div>
</body>

</html>